### {{ include.title }}
{% if include.talks.size > 0%}
<ul class="talks">
{% for talk in include.talks %}
  <li class="{{talk['label']}}">
    {{ talk.time | date: "%a %b %d, %H:%M" }}
    at
    <a href="{{ talk.url}}" title="Usually in room {{talk.room}}">{{talk.place}}</a>
    -
    {{talk['speaker']}}
    {% if talk.note %}
      &mdash;
      {{ talk.note }}
    {% endif %}
    {% if talk.desc %}
      &mdash;
      {{ talk.desc }}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
  - None
{% endif %}
