<h1>This week</h1>
{% for talk in thisweek %}
  <li>
    {{talk['time'] | fmtdatetime}}
    - {{talk['speaker']}}
    {% if talk['desc'] %}
      <br>
      {{ talk['desc'] }}
    {% endif %}
    <br>
    at {{talk['place']}} - {{talk['room']}}
  </li>
  {% endfor %}
</ul>
<h1>Upcoming</h1>
<ul>
{% for talk in upcoming %}
  <li>
    {{talk['time'] | fmtdatetime}}
    - {{talk['speaker']}}
    {% if talk['desc'] %}
      <br>
      {{ talk['desc'] }}
    {% endif %}
    <br>
    at {{talk['place']}} - {{talk['room']}}
  </li>
  {% endfor %}
</ul>
<h1>Past</h1>
{% for talk in past %}
  <li>
    {{talk['time'] | fmtdatetime}}
    - {{talk['speaker']}}
    {% if talk['desc'] %}
      <br>
      {{ talk['desc'] }}
    {% endif %}
    <br>
    at {{talk['place']}} - {{talk['room']}}
  </li>
  {% endfor %}
</ul>



